.list{
  font-size: 8pt;
  width: 400px;
  tr{
    td,th:nth-child(1){
      width: 90%;
    }
    td:nth-child(2){
        //@extend .text-center;
        button{
          width: 20px;
          height: 20px;
          padding: 0px;
          span{
            margin: 0px;
            font-size: 8pt;
          }
        }
    }
  }
}
